<h1>Coupon Form</h1>
<%= form_tag new_coupon_path do%>
Store: <%= text_field_tag :'[coupon[store]]', nil, id:'store'%>
Code: <%= text_field_tag :'[coupon[coupon_code]]', nil, id:'coupon_code'%>
<%= submit_tag "Submit Coupon" %>
<% end %>
