<h2>Coupon Form</h2>

<%= form_tag coupons_path do %>
  <label>Coupon code:</label>
  <%= text_field_tag :coupon_code, nil, id: 'coupon_code' %> <br>

  <label>Store:</label>
  <%= text_field_tag :store, nil, id: 'store' %> <br>

  <%= submit_tag 'Submit Coupon' %>

  <% end %>
